fastapi[standard]~=0.115.14
openai~=1.93.0
uvicorn~=0.35.0
python-dotenv~=1.1.1
python-multipart
aiohttp
pillow~=11.3.0
httpx
torch~=2.7.1
qdrant_client~=1.14.3
transformers~=4.53.0
torchvision
pydantic~=2.11.7